.box-dir {
    width: 500px;
    height: 600px;
    border: 3px solid rgb(200,200,4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgb(240,240,240, .2);

}
.box-dir:hover {
    border: 3px solid rgb(64,64,64, .8);
}