*{
    margin: 0;
    padding: 0;
    background-color: rgb(217, 196, 228);
}
.box-style {
    width: 200px;
    margin: 0  300px;
    background-color: rgb(255, 255, 255);
    
   
}
.box-1{
   padding: 0 8px;
   background-color: rgb(99, 103, 103);
   
}
.box-2{
    padding: 0 8px;
    background-color: rgb(99, 103, 103);
}